* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --primary-color: #E21B70;
}

body {
  font-family: "Open Sans";
  overflow-x: hidden !important;
}

.max-w-xl {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav.active {
  box-shadow: 0 2px 16px rgba(0,0,0,0.12);
}

nav > .logo {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}

nav > .logo > svg {
  margin-right: 0.3rem;
  display: none;
}

nav > svg {
  cursor: pointer;
}

.cart-icon {
  cursor: pointer;
}

.login-btn, .signup-btn, .lang-btn {
  display: none;
}

/* Hero Section */

section.hero {
  padding: 0 1rem;
  height: 200px;
  border: 2px solid transparent;
  position: relative;
}

.hero  h1 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 3rem;
  min-width: 220px;
  width: 40%;
  line-height: 1.7;
}

.hero .bg-wrapper {
  /* border: 1px solid red; */
  position: absolute;
  width: 54%;
  margin-left: 46%;
  background: url('./images/hero-home.webp');
  height: 100%;
  z-index: -1;
  float: right;
  max-height: 335px;
  background-size: cover;
}

.hero .actions {
  margin-top: 4rem;
}

.actions .input-container {
  position: relative;
}

.actions input {
  width: 100%;
  padding: 1.3rem 1rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid #dcdcdc;
  color: #333;
  font-size: 0.9rem;
  box-shadow: 0 0.3rem 2rem rgb(0 0 0 /10%);
}

.actions input::placeholder {
  color: darkgray;
}

.input-container svg, .input-container span {
  position: absolute;
  color: #E21B70;
  font-weight: 600;
}

.input-container span {
  top: 20px;
  right: 20px;
}

.input-container svg {
  top: 20px;
  right: 110px;
}

.actions button {
  background-color: #E21B70;
  color: #FFFFFF;
  border: none;
  height: 58px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

/* Partners Section */

section.partners {
  margin: 14rem 0 4rem 0;
  position: relative;
}

.partners .backdrop-text{
  padding: 0 2rem;
  font-size: 4.5rem;
  color: rgba(188, 186, 186, 0.12);
  font-weight: 900;
  position: absolute;
  top: -40px;
  left: -10px;
  text-transform: uppercase;
  z-index: -2;
}

  .partners .caption {
  padding: 0 2rem;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  }

  .partners .background-image {
    background: url('./images/partner-bg.png');
    min-height: 280px;
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: -1;
  }

  .partners .content {
  padding: 0 2rem;
  background-color: #FFFFFF;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 /12%);
  border-radius: 1rem;
  margin: 0 1rem;
  margin-top: -4rem;
  padding: 1rem;
  }

  .content p {
    font-size: 0.9rem;
    color: rgb(176,174,174);
  }

  .content .header-text {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: rgb(18, 17, 17);
  }

  .content button {
    background-color: #E21B70;
    color: #FFFFFF;
    border: none;
    padding: 0 5rem;
    height: 50px;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
  }

  /* Cities Section */

  .cities {
    margin-top: 8rem;
  }

  .cities .container{
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding: 1rem;
    justify-content: start;
    align-items: center;

  }
  
  .container .card{
    height: 272px;
    min-width: 230px;
    max-width: 230px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .container img{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }

  .container img:hover {
    transform: scale(1.2);
  }

  .container p {
    position: absolute;
    bottom: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    left: 10px;
    border-radius: 10px;
  }

  /* App Section */

  .app {
    background-color: #E21B70;
    min-height: 485px;
    z-index: -1;
    
  }

  .app .caption {
    display: none;
  }

  .app .backdrop-text {
    z-index: 1;
  }

  .app .max-w-xl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: left;
    padding: 1rem;
  }

  .app .image-container {
    position: relative;
    max-width: 424px;
    min-height: 250px;
    width: 100%;
    text-align: center;
  }

  .image-container img {
    position: absolute;
    width: 100%;
    max-width: 424px;
    z-index: 2;
    margin-top: -80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .app .content-container {}

  .content-container .sub-heading {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .content-container .text {
    font-size: 0.9rem;
    margin: 1rem 0;
  }

  .content-container .buttons-container {
    display: flex;
    justify-content: center;
  }

  .buttons-container .center-img {
    margin: 0 1rem;
  }
  
  /* Office */
  .office{
    margin-top: 10rem;
  }

  .office .background-image {
    background: url('./images/office-bg.png');
    min-height: 280px;
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: -1;
  }
  
  .office .content {
    margin-top: -10rem !important;
  }


  .FAQ{
    padding: 1rem;
    margin-top: 10rem;
    width: 100%;
  }

  .FAQ .heading{
    font-size: 2rem;
    margin-top: 1.5rem;
    font-weight: bold;
    line-height: 2.1rem;
  }

  .FAQ .text{
    margin-top: 1.5rem;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .FAQ .text > a{
    text-decoration: none;
    color: var(--primary-color)
  }

  .FAQ .list{
    list-style-type: none;
    width: 100%;
    margin-top: 1.5rem;
  }

  .FAQ .list > li{
    width: 100%;
    font-weight: lighter;
    line-height: 1.8rem;
  }

  .FAQ li > span{
    color: var(--primary-color);
  }

  .FAQ .divider{
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.201);
    margin-top: 1.5rem;
  }

  .FAQ .sub-heading{
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: bolder;
  }

  .FAQ .bold-text{
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
  }


  /* Footer Section */

  footer .divider{
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.201);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .footer-social-links{
    margin-top: 1rem;
    display: flex;
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    padding: .8rem;
  }

  .footer-branding__logos-dh{
    text-align: center;
  }

  /* Media Queries */
@media screen and (min-width:768px) {
  nav >.logo > svg {
    display: inline;
  }

  .hero  h1 {
    font-size: 2rem;
    width: 70%;
  }

  section.hero {
    padding: 0 2rem;
  }

  .hero .bg-wrapper {
    max-height: 900px;
  }

  .actions input {
    box-shadow: none;
  }

  .hero .actions {
    background-color: #FFFFFF;
    box-shadow: 0 0.3rem 2rem rgb(0 0 0 /10%);
    padding: 1rem;
    max-width: 960px;
  }

  .actions {
    display: flex;
  }

  .actions .input-container {
    width: 80%;
  }

  .actions button {
    margin: 0;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }

  /* Partners Section */

  .partners .backdrop-text {
    padding: 0 3rem;
  }

  .partners .caption {
    padding: 0 3rem;
  }

  .partners .background-image {
    min-height: 504px;
  }

  .partners .content {
    margin: 0 3rem;
    margin-top: -11.5rem;
    max-width: 450px;
    padding: 2rem;
  }
  
  .content p {
     font-size: 1rem;
  }

  .content .header-text {
    font-size: 1.5rem;
  }

  .content button {
    font-size: 1rem;
    width: 150px;
    padding: 0;
  }

  /* App Section */

  .app {
    min-height: 314px;
  }

  .app .caption{
    display: block;
    color: #000000;
    margin-top: -4rem;
    margin-left: -30rem;
  }

  .app .backdrop-text{
    margin-top: -3rem;
  }

  .app .max-w-xl{
    flex-direction: row-reverse;
  }

  .app .content-container{
    width: 55%;
    text-align: left;
    margin-right: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .app .image-container{
    margin-top: -3rem;
    width: 45%;
    text-align: right;
    max-height: 480px;
    margin-right: 10rem;
  }
  
  .image-container img{
    min-width: 450px;
  }

  .content-container .sub-heading{
    font-size: 1.8rem;
  }

  .content-container .buttons-container{
    margin-top: 1rem;
  }

  /* Footer Section */

  .branding{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  a svg{
    width: 50px;
  }
}

@media screen and (min-width:960px) {
  .profile-icon {
    display: none;
  }

  .right-nav-items {
    display: flex;
    justify-content: space-between;
    min-width: 20%;
    align-items: center
  }

  .lang-btn {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0.3rem 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .login-btn, .signup-btn {
    display: inline-flex;
    border: 1px solid #e21b70;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-right: 0.5rem;
    cursor: pointer;
    font-weight: 600;
  }

  .hero .bg-wrapper {
    height: 400px;
  } 

  .login-btn {
    color: #e21b70;
    background-color: transparent;
  }

  .signup-btn {
    color: #FFFFFF;
    background-color: #E21B70;
  }

  /* Partners Section */

  section.partners {
    margin-top: 18rem; 
  }

  .partners .caption {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .partners .content {
    max-width: 650px;
  }

  .content .header-text {
    font-size: 1.7rem;
  }

  /* Cities Section */
  .cities .container {
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
  }

  /* App section */

  .app{
    padding: 0 2rem;
  }

  .image-container img{
    min-width: 600px;
  }

  .content-container .buttons-container{
    margin-top: 2rem;
  }
}

@media screen and (min-width:1264px) {
  .hero .bg-wrapper {
    max-height: 500px;
    margin-left: 60%;
  }

  .hero h1 {
    font-size: 2.3rem;
  }

  /* Partners Section */
  .partners .content {
    max-width: 550px;
  }

  .partners .backdrop-text {
    font-size: 10rem;
    top: -100px;
    left: -40px;
  }

}

@media screen and (min-width:1440px) {
  .hero .bg-wrapper {
    max-height: 550px;
  }

  /* Partners Section */

}